<table class="table">
  <tbody>
    <tr>
      <td>Brand</td>
      <td>{{ product.brand }}</td>
    </tr>
    <tr>
      <td>Suitable models</td>
      <td>{{ product.suitable_models }}</td>
    </tr>
    <tr>
      <td>Wear</td>
      <td>{{ product.wear }}</td>
    </tr>
  </tbody>
</table>
</body>
</html>

<!--brand = models.CharField(max_length=255, verbose_name='Brand (Detail)')-->
<!--suitable_models = models.CharField(max_length=255, verbose_name='Suitable Models')-->
<!--wear = models.CharField(max_length=255, verbose_name='Wear')-->